main {
    display: flex;
    width: max-content;
    height: max-content;
    margin: 0;
    padding: 0;
    align-items: center;
    flex-direction: column;
}

.container_imagem {
    display: flex;
    gap: 40px;
}

.buttonContainer {
    width: 100%;
    height: min-content;
    display:inline-flex;
    justify-content: space-between;
    margin-top: 40px;
}

.container_escolha {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.radio_button {

    width: 35px;
    height: 35px;
}

.back {
    align-self: center;
    padding: 10px;
    box-shadow: 2px -2px 0 1px #000 inset;
    border: solid transparent;
    border-width: 0 0 2px 2px;
    transform: rotate(45deg);
}

h1 {
    width: 700px;
    margin-bottom: 40px;
}